extends layout

block content

  div.col-lg-3.filter.separate
    div.panel.panel-success
      .panel-heading
          h3.panel-title Filter by Element
        .panel-body
          form(action='/filterstory', method='post', id='filterstory')
            div.checkboxes
              .checkbox
                label
                  input(type='checkbox', name='elementfilter', value='Motivation')
                  | Motivation
              .checkbox
                label
                  input(type='checkbox', name='elementfilter', value='Reflection')
                  | Reflection
              .checkbox
                label
                  input(type='checkbox', name='elementfilter', value='Collaboration')
                  | Collaboration
              .checkbox
                label
                  input(type='checkbox', name='elementfilter', value='Iteration')
                  | Iteration
              .checkbox
                label
                  input(type='checkbox', name='elementfilter', value='Embracing Failure')
                  | Embracing Failure
              .checkbox
                label
                  input(type='checkbox', name='elementfilter', value='Inclusion')
                  | Inclusion
              button.btn.btn-primary.buttonright(type='submit') Filter
  
  div.col-lg-8.separate
    each cur, i in list
      div.well
        h3 #{cur.title}
        br
        p #{cur.curriculum}
        br
        p <b>Elements:</b>
          | #{cur.elements}
          br
        p.nameright <i>Submitted by 
          | #{cur.name}
          br
          | #{cur.date}</i>
          br
      br
      br

